# TP LIMPIEZA DE DATOS
El presente trabajo esta realizado en torno a la data de https://www.sharkattackfile.net/ sobre el registro de accidentes que se producidos por ataques de tiburones.

In [1]:
import pandas as pd

Obtengo la planilla tirando un get al html y luego lo "parseo"

In [2]:
#Version1
#df = pd.read_html('https://docs.google.com/spreadsheets/d/e/2PACX-1vRRMS9u_TYyr-Ar3iTrBxTtw7H0lzRCZsJrH8nGlJrkebURo9iLvuPkmla9huyrgXsxtKfDIzBaLYqZ/pubhtml', encoding='utf8')[0]
#Version2
#df = pd.read_html('https://docs.google.com/spreadsheets/d/1J2dWp04si06O6s6C0agTpSZ5g56G2LP3qYuIEgW1ZnQ/edit?usp=sharing', encoding='utf8')[0]
df = pd.read_html('https://docs.google.com/spreadsheets/d/1J2dWp04si06O6s6C0agTpSZ5g56G2LP3qYuIEgW1ZnQ/pubhtml', encoding='utf8')[0]

Pongo en los nombres de las columnas lo que hay en la primer fila

In [3]:
#df.columns = ['Index','Case Number','Date','Year','Type','Country','Area','Location','Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Time','Species','Investigator or Source']
#df = df.iloc[1:]
df.columns = ['Index','Case Number','Date','Year','Type','Country','Area','Location','Activity','Name','Sex','Age','Injury','Fatal (Y/N)','Time','Species','Investigator or Source','pdf', 'href formula', 'href','Case Number 2','Case Number 3', 'Original Order','Color Type']
df = df.iloc[1:]

In [4]:
df

,Index,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,...,Time,Species,Investigator or Source,pdf,href formula,href,Case Number 2,Case Number 3,Original Order,Color Type
1,2,1957.00.00.h,1957,1957,Boat,CUBA,Havana Province,Cojimar,Fishing,"boat, occupant: Portuondo",...,NaN,3.7 m [12'] shark,"F. Poli, pp.21-24",1957.00.00.h-boat-Portuondo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1957.00.00.h,1957.00.00.h,2094,Boats
2,3,1956.08.00.c,Aug-1956,1956,Boat,MALTA,Congreve Channel,between Filfla Island and Wied iz-Zurrieq,Fishing,boat: occupants: Nazzareno Zammit & Emmanuel,...,NaN,Porbeagle or white shark,A. Buttigieg,1956.08.00.c-Zammit.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1956.08.00.c,1956.08.00.c,2066,Boats
3,4,1958.08.31,31-Aug-1958,1958,Boat,MEXICO,Baja California,Ensenada,Boat stopped to repair electric pump,16' cabin cruiser with 35 hp outboard motor,...,07h15,"Hammerhead shark, 5.2 m [17']","G.A. Llano, pp.176-177",1958.08.31-NV-Ensenada.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.08.31,1958.08.31,2165,Boats
4,5,1959.07.00.b,Late Jul-1959,1959,Boat,NORTH ATLANTIC OCEAN,In the Gulf Stream,Between Bimini & Miami,NaN,"17' boat, occupant: Richard Wade",...,NaN,"Oceanic whitetip shark,1.8 m [6']","J. Randall in Sharks & Survival, p.356",1959.07.00.b-boat-R-Wade.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1959.07.00.b,1959.07.00.b,2221,Boats
5,6,1958.00.00.b,1958,1958,Boat,SOUTH AFRICA,Western Cape Province,Plettenberg Bay,Fishing (trolling),ski-boat,...,NaN,White shark,"T. Wallett, p.27",1958.00.00.b-PlettenburgBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1958.00.00.b,1958.00.00.b,2129,Boats
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3675,3676,1998.01.25.b,25-Jan-1998,1998,Unprovoked,REUNION,Grand'Anse,NaN,Bathing,Philippe Blu,...,Mid afternoon,NaN,G. Van Grevelynghe,1998.01.25.b-Blu.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1998.01.25.b,1998.01.25.b,4112,Unprovoked
3676,3677,1998.00.00.b,1998,1998,Unprovoked,REUNION,Beaufonds,NaN,Diving,NaN,...,NaN,NaN,G. Van Grevelynghe,1998.00.00.b-Reunion.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1998.00.00.b,1998.00.00.b,4107,Unprovoked
3677,3678,1997.02.20,20-Feb-1997,1997,Unprovoked,REUNION,L'Etang-Sale,NaN,NaN,Laurent Lebon,...,NaN,NaN,"LeQuotidien, 12/4/1999",1997.02.20-Lebon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.02.20,1997.02.20,4054,Unprovoked
3678,3679,1997.01.03.a,03-Jan-1997,1997,Unprovoked,REUNION,NaN,la Pointe-au-Sel,Spearfishing,David Lonne,...,NaN,Bull shark,"Clicanoo, le journal de l'Ile de la Réunion",1997.01.03-Lonne.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1997.01.03.a,1997.01.03.a,4050,Unprovoked
3679,3680,1996.01.10,10-Jan-1996,1996,Unprovoked,REUNION,Saint-Paul,Embouchure de l',NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Veo datos faltantes o inconsitentes de tipo y de país

In [5]:
len(df[df['Country'].isin(['UNKNOWN','NORTH ATLANTIC OCEAN','ATLANTIC OCEAN','INDIAN OCEAN','NORTH PACIFIC OCEAN','PACIFIC OCEAN','NORTH SEA','PALAU','PALESTINIAN TERRITORIES','BAY OF BENGAL','MIDATLANTICOCEAN','MID-PACIFCOCEAN','PERSIANGULF','REDSEA/INDIANOCEAN','SAN DOMINGO','SOLOMON ISLANDS/VANUATU','SOUTH ATLANTIC OCEAN','UNKOWN','TURKS & CAICOS','AFRICA','ASIA?','Coast of AFRICA','DIEGO GARCIA','EQUATORIAL GUINEA/CAMEROON','GULF OF ADEN','IRAN/IRAQ','MAYOTTE','MEDITERRANEAN SEA','NORTHERN ARABIAN SEA','RED SEA','SOUTH CHINA SEA','TASMAN SEA','THE BALKANS','WESTERN SAMOA'])])/len(df)

0.027996738244088066

In [6]:
len(df[df['Color Type'] != df['Type']])

808

In [7]:
df['Country'].value_counts()

AUSTRALIA           1261
USA                  455
PAPUA NEW GUINEA     132
SOUTH AFRICA         126
BAHAMAS              121
                    ...
FALKLAND ISLANDS       1
BAHREIN                1
SAN DOMINGO            1
ARGENTINA              1
THAILAND               1
Name: Country, Length: 173, dtype: int64

Trimeo

In [8]:
df['Country'] = df['Country'].str.strip()

Empezamos con los reemplazos

In [9]:
countries = { # por clusters del open refine
             'RED SEA?': 'RED SEA',
             'INDIAN OCEAN?': 'INDIAN OCEAN',
             'Sierra Leone': 'SIERRA LEONE',
             'Seychelles': 'SEYCHELLES',
             'SUDAN?': 'SUDAN',
             'Fiji':'FIJI',
             'UNITED ARAB EMIRATES (UAE)':'UNITED ARAB EMIRATES',
             'ST. MAARTIN':'ST. MARTIN',
             # cosas a manopla
             'ADMIRALTY ISLANDS':'PAPUA NEW GUINEA',
             'ANDAMAN / NICOBAR ISLANDAS':'INDIA',
             'ANDAMAN ISLANDS':'INDIA',
             'AZORES':'PORTUGAL',
             'ENGLAND':'UNITED KINGDOM',
             'BRITISH ISLES':'UNITED KINGDOM',
             'CEYLON':'SRI LANKA',
             'CEYLON (SRI LANKA)':'SRI LANKA',
             'COLUMBIA':'COLOMBIA',
             'CRETE':'GREECE',
             'FALKLAND ISLANDS':'ARGENTINA', # ;)
             'GRAND CAYMAN':'CAYMAN ISLANDS',
             'IRELAND':'UNITED KINGDOM',
             'JAVA':'INDONESIA',
             'JOHNSTON ISLAND':'USA',
             'MALDIVE ISLANDS':'MALDIVES'
             }

df = df.copy()
df['Country'] = df['Country'].replace(countries)

A partir de la información provista se necesita conocer:

a) La cantidad de incidentes de cada tipo

b) La cantidad de incidentes de cada tipo por país

In [10]:
# Cantidad de Incidentes por Tipo:
df.groupby(["Color Type"]).size().reset_index(name="Incidentes").sort_values(['Incidentes'], ascending=False)

          Color Type  Incidentes
5         Unprovoked        2265
3           Provoked         597
4       Questionable         567
0  Air/Sea Disasters         242
1              Boats           6
2         Color Type           1

In [11]:
# Para ver la cantidad de incidentes de cada tipo por país primero generamos una lista de todos los paises
# puse un sort para que ponga arriba los casos más frecuentes. Tomamos los primeros 10 
df.groupby(["Country", "Color Type"]).size().reset_index(name="Incidentes").sort_values(['Incidentes'], ascending=False).head(10)

              Country    Color Type  Incidentes
18          AUSTRALIA    Unprovoked         971
311               USA      Provoked         215
312               USA  Questionable         203
16          AUSTRALIA      Provoked         140
17          AUSTRALIA  Questionable         126
240  PAPUA NEW GUINEA    Unprovoked         112
22            BAHAMAS    Unprovoked          95
37             BRAZIL    Unprovoked          93
209       NEW ZEALAND    Unprovoked          86
186            MEXICO    Unprovoked          69